.col-align {
    text-align: center;
}
.center{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.row-space{
    margin-bottom: 2em;
}
.show{
    display:block;
    transition: 800ms;
    opacity: 1;
}
.show.active{
    transform: translateY(100px) scale(0) rotateY(180deg);
    opacity: 0;
}
.front-page-header{
    color: white;
    font-size: 50px;
    width: 22rem;
    margin: 0.5rem;
    margin-bottom: 0rem;
    padding: 0.5rem;
    padding-bottom: 0rem;
}